@import './utils/main.utils.scss';
body {
    background: linear-gradient(116.82deg, #FF70DB 0%, #8D56EB 50.52%, #0037FF 100%);
}

#wrap {
    padding-top: 170px;
    position: relative;
    width: 100%;
    height: 100%;
}

.top-panel {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    width: 500px;
    height: 46px;
    background: rgba(126, 142, 165, 0.70);
    border-radius: 0px 0px 23px 23px;
    @include flex(row, space-around, center);
    li {
        @include flex(row, null, center);
        img {
            margin-right: 10px;
        }
        span {
            @include font(15px, 300, 12px, #fff);
        }
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

.img-list {
    flex-wrap: wrap;
    @include flex(row, center, center);
    .img-item {
        position: relative;
        flex-basis: 25%;
        margin: 25px 0;
        @include flex(row, center, center);
        &:nth-child(4n+1) .img-wrap {
            border: 5px solid #E05A7A;
        }
        .img-wrap {
            position: relative;
            overflow: hidden;
            border: 5px solid #7E8EA5;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            cursor: pointer;
            transition: .5s;
            &:hover {
                border: 5px solid #F1E10E;
                transform: rotate(45deg);
            }
        }
        img {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .btn {
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9;
            border-radius: 50%;
            background-color: #E05A7A;
            transition: .5s;
            @include flex(row, center, center);
            img {
                width: 20px;
                height: 20px;
            }
            &:hover {
                transform: translateX(-50%) rotate(300deg) scale(1.2);
                box-shadow: 0 0 10px #00000087;
            }
        }
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    @include flex(row, center, center);
    .close-button {
        background-color: transparent;
        position: absolute;
        top: 30px;
        right: 30px;
        img {
            width: 40px;
            height: 40px;
        }
    }
}

@media screen and (max-width: 900px) {
    .img-list {
        .img-item {
            flex-basis: 50%;
            &:nth-child(2n+1) .img-wrap {
                border: 5px solid #E05A7A;
            }
        }
    }
    .modal {
        img {
            width: 90%;
        }
    }
}

@media screen and (max-width: 500px) {
    .top-panel {
        width: 300px;
        li {
            span {
                @include font(12px, 300, 12px, #fff);
            }
        }
    }
    .img-list {
        .img-item {
            flex-basis: 100%;
            &:nth-child(2n+1) .img-wrap {
                border: 5px solid #7E8EA5;
            }
        }
    }
}