doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="./css/main.css")
        title test-2
    body
        #wrap
            ul.top-panel
                li.top-panel-data
                    img(src="/img/calendar.svg", alt="calendar")
                    span#date
                li.top-panel-time
                    img(src="/img/clock.svg", alt="time")
                    span#time
                li.top-panel-quantity
                    span#quantity
            .container
                ul.img-list
        script(type="module" src="./js/main.js")